{%- block form_row -%}
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            {{- form_label(form) -}}
           <div class="help-block text-danger">{{- form_errors(form) -}}</div>
            {{- form_widget(form,{'attr':{'class': 'form-control'}}) -}}
        </div>
    </div>

{%- endblock form_row -%}
