<div class="row">
    <div class="col-12 col-md-6 bg-yellow-faded py-5">
        <div class="container-fluid py-5">
            <div class="row py-5">
                <div class="col-12 text-left my-5">
                    <h2 class="mb-3">Nos clients</h2>
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam nulla eros, lobortis a ipsum a, auctor pellentesque leo.
                        Nulla facilisi. Vestibulum gravida aliquet nulla, sed iaculis nisi.
                    </p>
                </div>
                <div class="col-12 text-right">
                    <p class="m-0"><a style="text-decoration: none" class="btn btn-success" href="{{ path('client_list') }}">nos clients</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 py-4">
        <div class="container">
            <div class="row clients">
                {% for client in clients %}
                    <div class="col-6 client">
                        <img class="img-fluid" src="{{ ('uploads/brochures/'~client.image)|imagine_filter('my_thumb') }}" alt="{{ client.name }}" >
                        <div class="bg-yellow px-2 py-1">{{ client.name }}</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>