<div class="modal fade" id="tel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('panier_valider') }}" method="post">
                <div class="modal-body">
                    <p>votre numero de telephone pour confirmer votre commande</p>
                    <input type="tel" placeholder="numero telephone" name="numTel">
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Passe" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
