body {
    overflow-x: hidden;
    background: #F5F5F5;
    font-family: sans-serif;
}
button:hover{
    cursor: pointer;
}
section{
    padding: 75px 0;
    margin: 0!important;
}
.clients .client {
    position: relative;
    margin-bottom: 25px;
    box-shadow: 9px 9px 27px grey;
    padding-right: 30px;
}
.clients .client img{
    filter: grayscale(0);
    transition: all .3s ease-in;
}
.clients .client:hover img{
    filter: grayscale(1);
}

.text-danger{
    color: #e1001e;
}
.text-success{
    color: #028e35;
}
.text-yellow{
    color: #f9d249;
}
.bg-danger{
    background-color: #e1001e!important;;
    color: #fff;
}
.bg-success{
    background-color: #028e35!important;;
    color: #fff;
}
.bg-yellow{
    background-color: #f9d249!important;
    color: #fff;
}

.bg-success-faded{
    color: #fff;
}
.bg-yellow-faded{
    color: #fff;
}
header img {
    position: absolute;
    width: 100px;
    left: -150px;
}
footer {
    padding: 15px;
    margin-top: 25px;
    border-top: 1px solid #dddddd;
    background: #fff;
}
@media (max-width: 767px) {
    header img {
        top: 80px;
        width: 80px;
        left: 0;
    }

}