{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('page_admin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
{% endblock %}