<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="#">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
            </div>
            <div class="col-md-6">
                <p class="copyright text-right" style="margin: 0;
    line-height: 40px;">Copyright &copy; W.H {{ "now"|date('Y') }}</p>
            </div>
        </div>
    </div>
</footer>
