
<header class="masthead" style="background: url({{ url|imagine_filter('header_img')  }}) fixed no-repeat;background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <img src="{{ asset('image/logo.png') }}" alt="logo">
                <div class="page-heading" style="padding: 150px 0 100px;">
                    <h1 class="bg-yellow-faded mb-0"> {{ titre }} </h1>
                    <span class="subheading mt-0 d-inline-block p-2 bg-success-faded">{{ description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
