<header class="masthead" style="background-image: url('{{ url|imagine_filter('header_img')  }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1> {{ titre }} </h1>
                    <span class="subheading">{{ description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
