{% set sessionPanier = app.session.get('panier') %}
{% extends "base.html.twig" %}
{% block header %}
    {% include ":module_Used:header.html.twig" with {'url': 'image/2.jpg',
    'titre':'Nos produits',
    'description': 'La meilleur qualité & Livraison à domicile'
    } %}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
    header{
        margin-bottom: 0!important;
    } footer{
          margin-top: 0!important;
      }
</style>
{% endblock %}

{% block body %}
<section class="m-0 p-0">
    {% include 'EcommerceBundle:Product/include:listProduct.html.twig' %}
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#
    <script src="{{ asset('bundles/ecommerce/js/addRemoveButton_productPanier.js') }}"></script>
#}
    <script>
        var h=0;
        $('.card-body').each(function () {
            h = h<$(this).height()?$(this).height():h;
        });$('.card-body').height(h);
    </script>
{% endblock %}
