{% set sessionPanier = app.session.get('panier') %}
{% extends "base.html.twig" %}
{% block header %}
    {% include ":module_Used:header.html.twig" with {'url': 'image/4.jpg',
    'titre':'our product',
    'description': 'among our service we can provide you by our product'
    } %}
{% endblock %}
{% block body %}
    {% include '@Ecommerce/Product/include/listProduct.html.twig' %}
    <a class="btn btn-primary"></a>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/ecommerce/js/addRemoveButton_productPanier.js') }}"></script>
{% endblock %}
