{% extends 'base.html.twig' %}
{% block header %}
    {% include ":module_Used:header.html.twig"
    with {'url': 'image/1.jpg',
    'titre':'home',
    'description': 'home'
    } %}
{% endblock %}
{% block body %}
    <h1>home</h1>

    {{ render(controller('PageBundle:Page:about')) }}
    {{ render(controller('PageBundle:Page:offre')) }}
    {{ render(controller('EcommerceBundle:Product:product_home')) }}
    {{ render(controller('EcommerceBundle:Client:client_home')) }}


{% endblock %}
